//! **************************************************************************
// Written by: Map P.20131013 on Sat May 15 05:39:39 2021
//! **************************************************************************

SCHEMATIC START;
COMP "DATA_a41b40c35d34f29g27<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "DATA_a41b40c35d34f29g27<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "DATA_a41b40c35d34f29g27<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "DATA_a41b40c35d34f29g27<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "DATA_a41b40c35d34f29g27<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "DATA_a41b40c35d34f29g27<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "DATA_a41b40c35d34f29g27<6>" LOCATE = SITE "P41" LEVEL 1;
COMP "H_pb4_p48" LOCATE = SITE "P47" LEVEL 1;
COMP "M_pb5_p51" LOCATE = SITE "P48" LEVEL 1;
COMP "ALARM_pb3_p47" LOCATE = SITE "P55" LEVEL 1;
COMP "S_pb6_p55" LOCATE = SITE "P51" LEVEL 1;
COMP "CLK_pb123" LOCATE = SITE "P123" LEVEL 1;
COMP "BUZZER_p83" LOCATE = SITE "P83" LEVEL 1;
COMP "SNOOZE_pb1_p45" LOCATE = SITE "P45" LEVEL 1;
COMP "DOT_p26" LOCATE = SITE "P26" LEVEL 1;
COMP "SEG_p30334344<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "SEG_p30334344<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "SEG_p30334344<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "SEG_p30334344<3>" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

